<div class="window">
  <header class="wsui-toolbar wsui-toolbar-header">
    <h1 class="is-title">Header with actions</h1>
    <div class="wsui-toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default"> home </button>
        <button class="btn btn-default"> folder </button>
        <button class="btn btn-default is-active"> cloud </button>
        <button class="btn btn-default"> popup </button>
        <button class="btn btn-default"> shuffle </button>
      </div>
      <button class="btn btn-default"> Filters </button>
      <button class="btn btn-default pull-right">megaphone</button>
    </div>
  </header>

  <div class="window-content">
    <div class="p-10">
      <p>Content.</p>
      <p>Content.</p>
    </div>
  </div>

  <footer class="wsui-toolbar wsui-toolbar-footer">
    <div class="wsui-toolbar-actions">
      <button class="btn btn-default">
        Cancel
      </button>
      <button class="btn btn-primary pull-right">
        Save
      </button>
    </div>
  </footer>
</div>
