<div class="page-bars">
  <header class="wsui-toolbar wsui-toolbar-header">
    <h1 class="is-title">Header with actions</h1>
    <div class="wsui-toolbar-actions">
      <div class="wsui-btn-group">
        <button class="wsui-btn is-default"> home </button>
        <button class="wsui-btn is-default"> folder </button>
        <button class="wsui-btn is-default is-active"> cloud </button>
        <button class="wsui-btn is-default"> popup </button>
        <button class="wsui-btn is-default"> shuffle </button>
      </div>
    </div>
  </header>

  <div class="f-12 p-10">
    <p>道可道，非常道；名可名，非常名。</p>
    <p>无名，天地之始，有名，万物之母。</p>
    <p>故常无欲，以观其妙，常有欲，以观其徼。</p>
    <p>此两者，同出而异名，同谓之玄，玄之又玄，众妙之门。</p>
  </div>

  <footer class="wsui-toolbar wsui-toolbar-footer">
    <div class="wsui-toolbar-actions">
      <button class="wsui-btn is-default">
        Cancel
      </button>
      <button class="wsui-btn is-primary">
        Save
      </button>
    </div>
  </footer>
</div>
