<section class="m-10">
  <div class="is-list">
    <button class="btn btn-mini btn-default">Default</button>
    <button class="btn btn-mini btn-primary">Primary</button>
    <button class="btn btn-mini btn-positive">Positive</button>
    <button class="btn btn-mini btn-negative">Negative</button>
    <button class="btn btn-mini btn-warning">Warning</button>
  </div>
  <div class="mt-10 is-list">
    <button class="btn btn-default">Default</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-positive">Positive</button>
    <button class="btn btn-negative">Negative</button>
    <button class="btn btn-warning">Warning</button>
  </div>
</section>
