<div class="m-10 page-button-group">
  <div class="wsui-btn-group">
    <button class="wsui-btn is-default">
      <span class="wsui-icon-home"></span>
    </button>
    <button class="wsui-btn is-default">
      <span class="wsui-icon-folder"></span>
    </button>
    <button class="wsui-btn is-default is-active">
      <span class="wsui-icon-cloud"></span>
    </button>
    <button class="wsui-btn is-default">
      <span class="wsui-icon-popup"></span>
    </button>
    <button class="wsui-btn is-default">
      <span class="wsui-icon-shuffle"></span>
    </button>
  </div>
</div>
