<section class="m-10">
  <div class="is-list">
    <button class="wsui-btn is-mini is-default">Default</button>
    <button class="wsui-btn is-mini is-primary">Primary</button>
    <button class="wsui-btn is-mini is-positive">Positive</button>
    <button class="wsui-btn is-mini is-negative">Negative</button>
    <button class="wsui-btn is-mini is-warning">Warning</button>
  </div>
  <div class="my-10 is-list">
    <button class="wsui-btn is-default">Default</button>
    <button class="wsui-btn is-primary">Primary</button>
    <button class="wsui-btn is-positive">Positive</button>
    <button class="wsui-btn is-negative">Negative</button>
    <button class="wsui-btn is-warning">Warning</button>
  </div>
  <div class="is-list">
    <button class="wsui-btn is-large is-default">Default</button>
    <button class="wsui-btn is-large is-primary">Primary</button>
    <button class="wsui-btn is-large is-positive">Positive</button>
    <button class="wsui-btn is-large is-negative">Negative</button>
    <button class="wsui-btn is-large is-warning">Warning</button>
  </div>
</section>
