<section class="m-10">
  <div class="is-list">
    <button class="wsui-btn is-small is-default">Default</button>
    <button class="wsui-btn is-small is-primary">Primary</button>
    <button class="wsui-btn is-small is-positive">Positive</button>
    <button class="wsui-btn is-small is-negative">Negative</button>
    <button class="wsui-btn is-small is-warning">Warning</button>
  </div>
  <div class="my-10 is-list">
    <button class="wsui-btn is-default">Default</button>
    <button class="wsui-btn is-primary">Primary</button>
    <button class="wsui-btn is-positive">Positive</button>
    <button class="wsui-btn is-negative">Negative</button>
    <button class="wsui-btn is-warning">Warning</button>
  </div>
  <div class="is-list">
    <button class="wsui-btn is-large is-default">Default</button>
    <button class="wsui-btn is-large is-primary">Primary</button>
    <button class="wsui-btn is-large is-positive">Positive</button>
    <button class="wsui-btn is-large is-negative">Negative</button>
    <button class="wsui-btn is-large is-warning">Warning</button>
  </div>
  <div class="is-list mb-10_ mb_ mt-10">
    <button class="wsui-btn is-large is-block is-default">Default</button>
    <button class="wsui-btn is-large is-block is-primary">Primary</button>
    <button class="wsui-btn is-large is-block is-positive">Positive</button>
    <button class="wsui-btn is-large is-block is-negative">Negative</button>
    <button class="wsui-btn is-large is-block is-warning">Warning</button>
  </div>
</section>
