<form class="m-10 mb-10_ mb_ wsui-form page-form">
  <div class="is-field">
    <label class="is-label">Email address</label>
    <input type="email" class="is-form-control" placeholder="Email" />
  </div>
  <div class="is-field">
    <label class="is-label">Password</label>
    <input type="password" class="is-form-control" placeholder="Password" />
  </div>
  <div class="is-field">
    <label class="is-label">Description</label>
    <textarea class="is-form-control" rows="3"></textarea>
  </div>
  <div class="is-field">
    <select class="is-form-control">
      <option>Option one</option>
      <option>Option two</option>
      <option>Option three</option>
      <option>Option four</option>
      <option>Option five</option>
      <option>Option six</option>
      <option>Option seven</option>
      <option>Option eight</option>
    </select>
  </div>
  <div class="is-field is-checkbox">
    <label class="is-label">
      <input type="checkbox" /> This is a checkbox
    </label>
  </div>
  <div class="is-field is-checkbox">
    <label class="is-label">
      <input type="checkbox" /> This is a checkbox too
    </label>
  </div>
  <div class="is-field is-radio">
    <label class="is-label">
      <input type="radio" name="radios" checked="" />
      Keep your options open
    </label>
  </div>
  <div class="is-field is-radio">
    <label class="is-label">
      <input type="radio" name="radios" />
      More options
    </label>
  </div>
  <div class="is-actions">
    <button class="wsui-btn is-default">Cancel</button>
    <button class="wsui-btn is-primary">OK</button>
  </div>
</form>
