<div class="m-10 page-icon">
  <span class="wsui-icon-note"></span>
  <span class="wsui-icon-note-beamed"></span>
  <span class="wsui-icon-music"></span>
  <span class="wsui-icon-search"></span>
  <span class="wsui-icon-flashlight"></span>
  <span class="wsui-icon-mail"></span>
  <span class="wsui-icon-heart"></span>
  <span class="wsui-icon-heart-empty"></span>
  <span class="wsui-icon-star"></span>
  <span class="wsui-icon-star-empty"></span>
  <span class="wsui-icon-user"></span>
  <span class="wsui-icon-users"></span>
  <span class="wsui-icon-user-add"></span>
  <span class="wsui-icon-video"></span>
  <span class="wsui-icon-picture"></span>
  <span class="wsui-icon-camera"></span>
  <span class="wsui-icon-layout"></span>
  <span class="wsui-icon-menu"></span>
  <span class="wsui-icon-check"></span>
  <span class="wsui-icon-cancel"></span>
  <span class="wsui-icon-cancel-circled"></span>
  <span class="wsui-icon-cancel-squared"></span>
  <span class="wsui-icon-plus"></span>
  <span class="wsui-icon-plus-circled"></span>
  <span class="wsui-icon-plus-squared"></span>
  <span class="wsui-icon-minus"></span>
  <span class="wsui-icon-minus-circled"></span>
  <span class="wsui-icon-minus-squared"></span>
  <span class="wsui-icon-help"></span>
  <span class="wsui-icon-help-circled"></span>
  <span class="wsui-icon-info"></span>
  <span class="wsui-icon-info-circled"></span>
  <span class="wsui-icon-back"></span>
  <span class="wsui-icon-home"></span>
  <span class="wsui-icon-link"></span>
  <span class="wsui-icon-attach"></span>
  <span class="wsui-icon-lock"></span>
  <span class="wsui-icon-lock-open"></span>
  <span class="wsui-icon-eye"></span>
  <span class="wsui-icon-tag"></span>
  <span class="wsui-icon-bookmark"></span>
  <span class="wsui-icon-bookmarks"></span>
  <span class="wsui-icon-flag"></span>
  <span class="wsui-icon-thumbs-up"></span>
  <span class="wsui-icon-thumbs-down"></span>
  <span class="wsui-icon-download"></span>
  <span class="wsui-icon-upload"></span>
  <span class="wsui-icon-upload-cloud"></span>
  <span class="wsui-icon-reply"></span>
  <span class="wsui-icon-reply-all"></span>
  <span class="wsui-icon-forward"></span>
  <span class="wsui-icon-quote"></span>
  <span class="wsui-icon-code"></span>
  <span class="wsui-icon-export"></span>
  <span class="wsui-icon-pencil"></span>
  <span class="wsui-icon-feather"></span>
  <span class="wsui-icon-print"></span>
  <span class="wsui-icon-retweet"></span>
  <span class="wsui-icon-keyboard"></span>
  <span class="wsui-icon-comment"></span>
  <span class="wsui-icon-chat"></span>
  <span class="wsui-icon-bell"></span>
  <span class="wsui-icon-attention"></span>
  <span class="wsui-icon-alert"></span>
  <span class="wsui-icon-vcard"></span>
  <span class="wsui-icon-address"></span>
  <span class="wsui-icon-location"></span>
  <span class="wsui-icon-map"></span>
  <span class="wsui-icon-direction"></span>
  <span class="wsui-icon-compass"></span>
  <span class="wsui-icon-cup"></span>
  <span class="wsui-icon-trash"></span>
  <span class="wsui-icon-doc"></span>
  <span class="wsui-icon-docs"></span>
  <span class="wsui-icon-doc-landscape"></span>
  <span class="wsui-icon-doc-text"></span>
  <span class="wsui-icon-doc-text-inv"></span>
  <span class="wsui-icon-newspaper"></span>
  <span class="wsui-icon-book-open"></span>
  <span class="wsui-icon-book"></span>
  <span class="wsui-icon-folder"></span>
  <span class="wsui-icon-archive"></span>
  <span class="wsui-icon-box"></span>
  <span class="wsui-icon-rss"></span>
  <span class="wsui-icon-phone"></span>
  <span class="wsui-icon-cog"></span>
  <span class="wsui-icon-tools"></span>
  <span class="wsui-icon-share"></span>
  <span class="wsui-icon-shareable"></span>
  <span class="wsui-icon-basket"></span>
  <span class="wsui-icon-bag"></span>
  <span class="wsui-icon-calendar"></span>
  <span class="wsui-icon-login"></span>
  <span class="wsui-icon-logout"></span>
  <span class="wsui-icon-mic"></span>
  <span class="wsui-icon-mute"></span>
  <span class="wsui-icon-sound"></span>
  <span class="wsui-icon-volume"></span>
  <span class="wsui-icon-clock"></span>
  <span class="wsui-icon-hourglass"></span>
  <span class="wsui-icon-lamp"></span>
  <span class="wsui-icon-light-down"></span>
  <span class="wsui-icon-light-up"></span>
  <span class="wsui-icon-adjust"></span>
  <span class="wsui-icon-block"></span>
  <span class="wsui-icon-resize-full"></span>
  <span class="wsui-icon-resize-small"></span>
  <span class="wsui-icon-popup"></span>
  <span class="wsui-icon-publish"></span>
  <span class="wsui-icon-window"></span>
  <span class="wsui-icon-arrow-combo"></span>
  <span class="wsui-icon-down-circled"></span>
  <span class="wsui-icon-left-circled"></span>
  <span class="wsui-icon-right-circled"></span>
  <span class="wsui-icon-up-circled"></span>
  <span class="wsui-icon-down-open"></span>
  <span class="wsui-icon-left-open"></span>
  <span class="wsui-icon-right-open"></span>
  <span class="wsui-icon-up-open"></span>
  <span class="wsui-icon-down-open-mini"></span>
  <span class="wsui-icon-left-open-mini"></span>
  <span class="wsui-icon-right-open-mini"></span>
  <span class="wsui-icon-up-open-mini"></span>
  <span class="wsui-icon-down-open-big"></span>
  <span class="wsui-icon-left-open-big"></span>
  <span class="wsui-icon-right-open-big"></span>
  <span class="wsui-icon-up-open-big"></span>
  <span class="wsui-icon-down"></span>
  <span class="wsui-icon-left"></span>
  <span class="wsui-icon-right"></span>
  <span class="wsui-icon-up"></span>
  <span class="wsui-icon-down-dir"></span>
  <span class="wsui-icon-left-dir"></span>
  <span class="wsui-icon-right-dir"></span>
  <span class="wsui-icon-up-dir"></span>
  <span class="wsui-icon-down-bold"></span>
  <span class="wsui-icon-left-bold"></span>
  <span class="wsui-icon-right-bold"></span>
  <span class="wsui-icon-up-bold"></span>
  <span class="wsui-icon-down-thin"></span>
  <span class="wsui-icon-left-thin"></span>
  <span class="wsui-icon-right-thin"></span>
  <span class="wsui-icon-up-thin"></span>
  <span class="wsui-icon-ccw"></span>
  <span class="wsui-icon-cw"></span>
  <span class="wsui-icon-arrows-ccw"></span>
  <span class="wsui-icon-level-down"></span>
  <span class="wsui-icon-level-up"></span>
  <span class="wsui-icon-shuffle"></span>
  <span class="wsui-icon-loop"></span>
  <span class="wsui-icon-switch"></span>
  <span class="wsui-icon-play"></span>
  <span class="wsui-icon-stop"></span>
  <span class="wsui-icon-pause"></span>
  <span class="wsui-icon-record"></span>
  <span class="wsui-icon-to-end"></span>
  <span class="wsui-icon-to-start"></span>
  <span class="wsui-icon-fast-forward"></span>
  <span class="wsui-icon-fast-backward"></span>
  <span class="wsui-icon-progress-0"></span>
  <span class="wsui-icon-progress-1"></span>
  <span class="wsui-icon-progress-2"></span>
  <span class="wsui-icon-progress-3"></span>
  <span class="wsui-icon-target"></span>
  <span class="wsui-icon-palette"></span>
  <span class="wsui-icon-list"></span>
  <span class="wsui-icon-list-add"></span>
  <span class="wsui-icon-signal"></span>
  <span class="wsui-icon-trophy"></span>
  <span class="wsui-icon-battery"></span>
  <span class="wsui-icon-back-in-time"></span>
  <span class="wsui-icon-monitor"></span>
  <span class="wsui-icon-mobile"></span>
  <span class="wsui-icon-network"></span>
  <span class="wsui-icon-cd"></span>
  <span class="wsui-icon-inbox"></span>
  <span class="wsui-icon-install"></span>
  <span class="wsui-icon-globe"></span>
  <span class="wsui-icon-cloud"></span>
  <span class="wsui-icon-cloud-thunder"></span>
  <span class="wsui-icon-flash"></span>
  <span class="wsui-icon-moon"></span>
  <span class="wsui-icon-flight"></span>
  <span class="wsui-icon-paper-plane"></span>
  <span class="wsui-icon-leaf"></span>
  <span class="wsui-icon-lifebuoy"></span>
  <span class="wsui-icon-mouse"></span>
  <span class="wsui-icon-briefcase"></span>
  <span class="wsui-icon-suitcase"></span>
  <span class="wsui-icon-dot"></span>
  <span class="wsui-icon-dot-2"></span>
  <span class="wsui-icon-dot-3"></span>
  <span class="wsui-icon-brush"></span>
  <span class="wsui-icon-magnet"></span>
  <span class="wsui-icon-infinity"></span>
  <span class="wsui-icon-erase"></span>
  <span class="wsui-icon-chart-pie"></span>
  <span class="wsui-icon-chart-line"></span>
  <span class="wsui-icon-chart-bar"></span>
  <span class="wsui-icon-chart-area"></span>
  <span class="wsui-icon-tape"></span>
  <span class="wsui-icon-graduation-cap"></span>
  <span class="wsui-icon-language"></span>
  <span class="wsui-icon-ticket"></span>
  <span class="wsui-icon-water"></span>
  <span class="wsui-icon-droplet"></span>
  <span class="wsui-icon-air"></span>
  <span class="wsui-icon-credit-card"></span>
  <span class="wsui-icon-floppy"></span>
  <span class="wsui-icon-clipboard"></span>
  <span class="wsui-icon-megaphone"></span>
  <span class="wsui-icon-database"></span>
  <span class="wsui-icon-drive"></span>
  <span class="wsui-icon-bucket"></span>
  <span class="wsui-icon-thermometer"></span>
  <span class="wsui-icon-key"></span>
  <span class="wsui-icon-flow-cascade"></span>
  <span class="wsui-icon-flow-branch"></span>
  <span class="wsui-icon-flow-tree"></span>
  <span class="wsui-icon-flow-line"></span>
  <span class="wsui-icon-flow-parallel"></span>
  <span class="wsui-icon-rocket"></span>
  <span class="wsui-icon-gauge"></span>
  <span class="wsui-icon-traffic-cone"></span>
  <span class="wsui-icon-cc"></span>
  <span class="wsui-icon-cc-by"></span>
  <span class="wsui-icon-cc-nc"></span>
  <span class="wsui-icon-cc-nc-eu"></span>
  <span class="wsui-icon-cc-nc-jp"></span>
  <span class="wsui-icon-cc-sa"></span>
  <span class="wsui-icon-cc-nd"></span>
  <span class="wsui-icon-cc-pd"></span>
  <span class="wsui-icon-cc-zero"></span>
  <span class="wsui-icon-cc-share"></span>
  <span class="wsui-icon-cc-remix"></span>
  <span class="wsui-icon-github"></span>
  <span class="wsui-icon-github-circled"></span>
  <span class="wsui-icon-flickr"></span>
  <span class="wsui-icon-flickr-circled"></span>
  <span class="wsui-icon-vimeo"></span>
  <span class="wsui-icon-vimeo-circled"></span>
  <span class="wsui-icon-twitter"></span>
  <span class="wsui-icon-twitter-circled"></span>
  <span class="wsui-icon-facebook"></span>
  <span class="wsui-icon-facebook-circled"></span>
  <span class="wsui-icon-facebook-squared"></span>
  <span class="wsui-icon-gplus"></span>
  <span class="wsui-icon-gplus-circled"></span>
  <span class="wsui-icon-pinterest"></span>
  <span class="wsui-icon-pinterest-circled"></span>
  <span class="wsui-icon-tumblr"></span>
  <span class="wsui-icon-tumblr-circled"></span>
  <span class="wsui-icon-linkedin"></span>
  <span class="wsui-icon-linkedin-circled"></span>
  <span class="wsui-icon-dribbble"></span>
  <span class="wsui-icon-dribbble-circled"></span>
  <span class="wsui-icon-stumbleupon"></span>
  <span class="wsui-icon-stumbleupon-circled"></span>
  <span class="wsui-icon-lastfm"></span>
  <span class="wsui-icon-lastfm-circled"></span>
  <span class="wsui-icon-rdio"></span>
  <span class="wsui-icon-rdio-circled"></span>
  <span class="wsui-icon-spotify"></span>
  <span class="wsui-icon-spotify-circled"></span>
  <span class="wsui-icon-qq"></span>
  <span class="wsui-icon-instagram"></span>
  <span class="wsui-icon-dropbox"></span>
  <span class="wsui-icon-evernote"></span>
  <span class="wsui-icon-flattr"></span>
  <span class="wsui-icon-skype"></span>
  <span class="wsui-icon-skype-circled"></span>
  <span class="wsui-icon-renren"></span>
  <span class="wsui-icon-sina-weibo"></span>
  <span class="wsui-icon-paypal"></span>
  <span class="wsui-icon-picasa"></span>
  <span class="wsui-icon-soundcloud"></span>
  <span class="wsui-icon-mixi"></span>
  <span class="wsui-icon-behance"></span>
  <span class="wsui-icon-google-circles"></span>
  <span class="wsui-icon-vkontakte"></span>
  <span class="wsui-icon-smashing"></span>
  <span class="wsui-icon-sweden"></span>
  <span class="wsui-icon-db-shape"></span>
  <span class="wsui-icon-logo-db"></span>

</div>
