<div class="page-navs">
  <div class="is-sidebar">
    <nav class="wsui-nav-group">
      <dt class="is-title">Favorites</dt>
      <dd class="is-item is-active">
        <span class="wsui-icon-home"></span>
        connors
      </dd>
      <dd class="is-item">
        <span class="wsui-icon-download"></span>
        Downloads
      </dd>
      <dd class="is-item">
        <span class="wsui-icon-folder"></span>
        Documents
      </dd>
      <dd class="is-item">
        <span class="wsui-icon-signal"></span>
        AirPlay
      </dd>
      <dd class="is-item">
        <span class="wsui-icon-print"></span>
        Applications
      </dd>
      <dd class="is-item">
        <span class="wsui-icon-cloud"></span>
        Desktop
      </dd>
    </nav>

    <nav class="wsui-nav-group">
      <h5 class="is-title">Tags</h5>
      <a class="is-item" href="javascript:;">
        <span class="wsui-icon-record" style="color:#fc605b"></span>
        Red
      </a>
      <a class="is-item" href="javascript:;">
        <span class="wsui-icon-record" style="color:#fdbc40"></span>
        Orange
      </a>
      <a class="is-item" href="javascript:;">
        <span class="wsui-icon-record" style="color:#34c84a"></span>
        Green
      </a>
      <a class="is-item" href="javascript:;">
        <span class="wsui-icon-record" style="color:#57acf5"></span>
        Blue
      </a>
    </nav>
  </div>
  <div class="is-body">
  </div>
</div>
