@import "../node_modules/@jswork/wsui-functions/dist/index.scss";
@import "../node_modules/@jswork/wsui-generators/dist/index.scss";

$box-list: range(4, 20, 2);
@debug $box-list;

//Generate margin:
@include generator-box($box-list, "m");
@include generator-box($box-list, "mt");
@include generator-box($box-list, "mr");
@include generator-box($box-list, "ml");
@include generator-box($box-list, "mb");
@include generator-box($box-list, "mx");
@include generator-box($box-list, "my");


// OR you want Generate `rem` value
@include generator-box($box-list, "p");
@include generator-box($box-list, "pt");
@include generator-box($box-list, "pr");
@include generator-box($box-list, "pl");
@include generator-box($box-list, "pb");
@include generator-box($box-list, "px");
@include generator-box($box-list, "py");


.html-loader {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
