@import "../node_modules/@jswork/wsui-functions/dist/index.scss";
@import "../node_modules/@jswork/wsui-generators/dist/index.scss";

$box-list: range(4, 20, 2);
$font-list: range(10, 20, 2);

//Generate margin:
@include generator-box($box-list, "m");
@include generator-box($box-list, "mt");
@include generator-box($box-list, "mr");
@include generator-box($box-list, "ml");
@include generator-box($box-list, "mb");
@include generator-box($box-list, "mx");
@include generator-box($box-list, "my");

// OR you want Generate `rem` value
@include generator-box($box-list, "p");
@include generator-box($box-list, "pt");
@include generator-box($box-list, "pr");
@include generator-box($box-list, "pl");
@include generator-box($box-list, "pb");
@include generator-box($box-list, "px");
@include generator-box($box-list, "py");

// font-list
@include generator-font-size($font-list);

.html-loader {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  .page-icon {
    [class^="wsui-icon"] {
      margin-right: 5px;
      margin-left: 5px;
      font-size: 24px;
      color: #666;
      display: inline-block;
      width: 25px;
    }
  }

  .page-form {
  }

  .page-navs {
    display: flex;
    > .is-sidebar {
      width: 200px;
    }

    > .is-body {
      background: #dcdfe1;
      flex: 1;
    }
  }
}
