//
// Button-groups.css
// Adapted from Bootstrap's button-groups.less (https://github.com/twbs/bootstrap/blob/master/less/button-groups.less)
// --------------------------------------------------

// Button groups
.#{$prefix}btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .#{$prefix}btn alignment given font-size hack above
  -webkit-app-region: no-drag;

  .#{$prefix}btn {
    position: relative;
    float: left;

    // Bring the "active" button to the front
    &:focus,
    &:active {
      z-index: 2;
    }

    &.is-active {
      z-index: 3;
    }
  }
}

// Prevent double borders when buttons are next to each other
.#{$prefix}btn-group {
  .#{$prefix}btn + .#{$prefix}btn,
  .#{$prefix}btn + .#{$prefix}btn-group,
  .#{$prefix}btn-group + .#{$prefix}btn,
  .#{$prefix}btn-group + .#{$prefix}btn-group {
    margin-left: -1px;
  }

  > .#{$prefix}btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .#{$prefix}btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .#{$prefix}btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .#{$prefix}btn + .#{$prefix}btn {
    border-left: 1px solid #c2c0c2;
  }

  .#{$prefix}btn + .#{$prefix}btn.is-active {
    border-left: 0;
  }

  // Selected state
  .#{$prefix}btn.is-active {
    color: #fff;
    border: 1px solid transparent;
    background: #6d6c6d;
    &:active {
      background: darken(#6d6c6d, 5%);
    }
  }
}
