@font-face {
  font-family: "photon-entypo";
  src: url($font-path + 'photon-entypo.eot');
  src: url($font-path + 'photon-entypo.eot?#iefix') format('eot'),
    url($font-path + 'photon-entypo.woff') format('woff'),
    url($font-path + 'photon-entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="#{$prefix}icon"]:before{
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$prefix}icon-note:before { content: '\e800'; } /* '' */
.#{$prefix}icon-note-beamed:before { content: '\e801'; } /* '' */
.#{$prefix}icon-music:before { content: '\e802'; } /* '' */
.#{$prefix}icon-search:before { content: '\e803'; } /* '' */
.#{$prefix}icon-flashlight:before { content: '\e804'; } /* '' */
.#{$prefix}icon-mail:before { content: '\e805'; } /* '' */
.#{$prefix}icon-heart:before { content: '\e806'; } /* '' */
.#{$prefix}icon-heart-empty:before { content: '\e807'; } /* '' */
.#{$prefix}icon-star:before { content: '\e808'; } /* '' */
.#{$prefix}icon-star-empty:before { content: '\e809'; } /* '' */
.#{$prefix}icon-user:before { content: '\e80a'; } /* '' */
.#{$prefix}icon-users:before { content: '\e80b'; } /* '' */
.#{$prefix}icon-user-add:before { content: '\e80c'; } /* '' */
.#{$prefix}icon-video:before { content: '\e80d'; } /* '' */
.#{$prefix}icon-picture:before { content: '\e80e'; } /* '' */
.#{$prefix}icon-camera:before { content: '\e80f'; } /* '' */
.#{$prefix}icon-layout:before { content: '\e810'; } /* '' */
.#{$prefix}icon-menu:before { content: '\e811'; } /* '' */
.#{$prefix}icon-check:before { content: '\e812'; } /* '' */
.#{$prefix}icon-cancel:before { content: '\e813'; } /* '' */
.#{$prefix}icon-cancel-circled:before { content: '\e814'; } /* '' */
.#{$prefix}icon-cancel-squared:before { content: '\e815'; } /* '' */
.#{$prefix}icon-plus:before { content: '\e816'; } /* '' */
.#{$prefix}icon-plus-circled:before { content: '\e817'; } /* '' */
.#{$prefix}icon-plus-squared:before { content: '\e818'; } /* '' */
.#{$prefix}icon-minus:before { content: '\e819'; } /* '' */
.#{$prefix}icon-minus-circled:before { content: '\e81a'; } /* '' */
.#{$prefix}icon-minus-squared:before { content: '\e81b'; } /* '' */
.#{$prefix}icon-help:before { content: '\e81c'; } /* '' */
.#{$prefix}icon-help-circled:before { content: '\e81d'; } /* '' */
.#{$prefix}icon-info:before { content: '\e81e'; } /* '' */
.#{$prefix}icon-info-circled:before { content: '\e81f'; } /* '' */
.#{$prefix}icon-back:before { content: '\e820'; } /* '' */
.#{$prefix}icon-home:before { content: '\e821'; } /* '' */
.#{$prefix}icon-link:before { content: '\e822'; } /* '' */
.#{$prefix}icon-attach:before { content: '\e823'; } /* '' */
.#{$prefix}icon-lock:before { content: '\e824'; } /* '' */
.#{$prefix}icon-lock-open:before { content: '\e825'; } /* '' */
.#{$prefix}icon-eye:before { content: '\e826'; } /* '' */
.#{$prefix}icon-tag:before { content: '\e827'; } /* '' */
.#{$prefix}icon-bookmark:before { content: '\e828'; } /* '' */
.#{$prefix}icon-bookmarks:before { content: '\e829'; } /* '' */
.#{$prefix}icon-flag:before { content: '\e82a'; } /* '' */
.#{$prefix}icon-thumbs-up:before { content: '\e82b'; } /* '' */
.#{$prefix}icon-thumbs-down:before { content: '\e82c'; } /* '' */
.#{$prefix}icon-download:before { content: '\e82d'; } /* '' */
.#{$prefix}icon-upload:before { content: '\e82e'; } /* '' */
.#{$prefix}icon-upload-cloud:before { content: '\e82f'; } /* '' */
.#{$prefix}icon-reply:before { content: '\e830'; } /* '' */
.#{$prefix}icon-reply-all:before { content: '\e831'; } /* '' */
.#{$prefix}icon-forward:before { content: '\e832'; } /* '' */
.#{$prefix}icon-quote:before { content: '\e833'; } /* '' */
.#{$prefix}icon-code:before { content: '\e834'; } /* '' */
.#{$prefix}icon-export:before { content: '\e835'; } /* '' */
.#{$prefix}icon-pencil:before { content: '\e836'; } /* '' */
.#{$prefix}icon-feather:before { content: '\e837'; } /* '' */
.#{$prefix}icon-print:before { content: '\e838'; } /* '' */
.#{$prefix}icon-retweet:before { content: '\e839'; } /* '' */
.#{$prefix}icon-keyboard:before { content: '\e83a'; } /* '' */
.#{$prefix}icon-comment:before { content: '\e83b'; } /* '' */
.#{$prefix}icon-chat:before { content: '\e83c'; } /* '' */
.#{$prefix}icon-bell:before { content: '\e83d'; } /* '' */
.#{$prefix}icon-attention:before { content: '\e83e'; } /* '' */
.#{$prefix}icon-alert:before { content: '\e83f'; } /* '' */
.#{$prefix}icon-vcard:before { content: '\e840'; } /* '' */
.#{$prefix}icon-address:before { content: '\e841'; } /* '' */
.#{$prefix}icon-location:before { content: '\e842'; } /* '' */
.#{$prefix}icon-map:before { content: '\e843'; } /* '' */
.#{$prefix}icon-direction:before { content: '\e844'; } /* '' */
.#{$prefix}icon-compass:before { content: '\e845'; } /* '' */
.#{$prefix}icon-cup:before { content: '\e846'; } /* '' */
.#{$prefix}icon-trash:before { content: '\e847'; } /* '' */
.#{$prefix}icon-doc:before { content: '\e848'; } /* '' */
.#{$prefix}icon-docs:before { content: '\e849'; } /* '' */
.#{$prefix}icon-doc-landscape:before { content: '\e84a'; } /* '' */
.#{$prefix}icon-doc-text:before { content: '\e84b'; } /* '' */
.#{$prefix}icon-doc-text-inv:before { content: '\e84c'; } /* '' */
.#{$prefix}icon-newspaper:before { content: '\e84d'; } /* '' */
.#{$prefix}icon-book-open:before { content: '\e84e'; } /* '' */
.#{$prefix}icon-book:before { content: '\e84f'; } /* '' */
.#{$prefix}icon-folder:before { content: '\e850'; } /* '' */
.#{$prefix}icon-archive:before { content: '\e851'; } /* '' */
.#{$prefix}icon-box:before { content: '\e852'; } /* '' */
.#{$prefix}icon-rss:before { content: '\e853'; } /* '' */
.#{$prefix}icon-phone:before { content: '\e854'; } /* '' */
.#{$prefix}icon-cog:before { content: '\e855'; } /* '' */
.#{$prefix}icon-tools:before { content: '\e856'; } /* '' */
.#{$prefix}icon-share:before { content: '\e857'; } /* '' */
.#{$prefix}icon-shareable:before { content: '\e858'; } /* '' */
.#{$prefix}icon-basket:before { content: '\e859'; } /* '' */
.#{$prefix}icon-bag:before { content: '\e85a'; } /* '' */
.#{$prefix}icon-calendar:before { content: '\e85b'; } /* '' */
.#{$prefix}icon-login:before { content: '\e85c'; } /* '' */
.#{$prefix}icon-logout:before { content: '\e85d'; } /* '' */
.#{$prefix}icon-mic:before { content: '\e85e'; } /* '' */
.#{$prefix}icon-mute:before { content: '\e85f'; } /* '' */
.#{$prefix}icon-sound:before { content: '\e860'; } /* '' */
.#{$prefix}icon-volume:before { content: '\e861'; } /* '' */
.#{$prefix}icon-clock:before { content: '\e862'; } /* '' */
.#{$prefix}icon-hourglass:before { content: '\e863'; } /* '' */
.#{$prefix}icon-lamp:before { content: '\e864'; } /* '' */
.#{$prefix}icon-light-down:before { content: '\e865'; } /* '' */
.#{$prefix}icon-light-up:before { content: '\e866'; } /* '' */
.#{$prefix}icon-adjust:before { content: '\e867'; } /* '' */
.#{$prefix}icon-block:before { content: '\e868'; } /* '' */
.#{$prefix}icon-resize-full:before { content: '\e869'; } /* '' */
.#{$prefix}icon-resize-small:before { content: '\e86a'; } /* '' */
.#{$prefix}icon-popup:before { content: '\e86b'; } /* '' */
.#{$prefix}icon-publish:before { content: '\e86c'; } /* '' */
.#{$prefix}icon-window:before { content: '\e86d'; } /* '' */
.#{$prefix}icon-arrow-combo:before { content: '\e86e'; } /* '' */
.#{$prefix}icon-down-circled:before { content: '\e86f'; } /* '' */
.#{$prefix}icon-left-circled:before { content: '\e870'; } /* '' */
.#{$prefix}icon-right-circled:before { content: '\e871'; } /* '' */
.#{$prefix}icon-up-circled:before { content: '\e872'; } /* '' */
.#{$prefix}icon-down-open:before { content: '\e873'; } /* '' */
.#{$prefix}icon-left-open:before { content: '\e874'; } /* '' */
.#{$prefix}icon-right-open:before { content: '\e875'; } /* '' */
.#{$prefix}icon-up-open:before { content: '\e876'; } /* '' */
.#{$prefix}icon-down-open-mini:before { content: '\e877'; } /* '' */
.#{$prefix}icon-left-open-mini:before { content: '\e878'; } /* '' */
.#{$prefix}icon-right-open-mini:before { content: '\e879'; } /* '' */
.#{$prefix}icon-up-open-mini:before { content: '\e87a'; } /* '' */
.#{$prefix}icon-down-open-big:before { content: '\e87b'; } /* '' */
.#{$prefix}icon-left-open-big:before { content: '\e87c'; } /* '' */
.#{$prefix}icon-right-open-big:before { content: '\e87d'; } /* '' */
.#{$prefix}icon-up-open-big:before { content: '\e87e'; } /* '' */
.#{$prefix}icon-down:before { content: '\e87f'; } /* '' */
.#{$prefix}icon-left:before { content: '\e880'; } /* '' */
.#{$prefix}icon-right:before { content: '\e881'; } /* '' */
.#{$prefix}icon-up:before { content: '\e882'; } /* '' */
.#{$prefix}icon-down-dir:before { content: '\e883'; } /* '' */
.#{$prefix}icon-left-dir:before { content: '\e884'; } /* '' */
.#{$prefix}icon-right-dir:before { content: '\e885'; } /* '' */
.#{$prefix}icon-up-dir:before { content: '\e886'; } /* '' */
.#{$prefix}icon-down-bold:before { content: '\e887'; } /* '' */
.#{$prefix}icon-left-bold:before { content: '\e888'; } /* '' */
.#{$prefix}icon-right-bold:before { content: '\e889'; } /* '' */
.#{$prefix}icon-up-bold:before { content: '\e88a'; } /* '' */
.#{$prefix}icon-down-thin:before { content: '\e88b'; } /* '' */
.#{$prefix}icon-left-thin:before { content: '\e88c'; } /* '' */
.#{$prefix}icon-right-thin:before { content: '\e88d'; } /* '' */
.#{$prefix}icon-up-thin:before { content: '\e88e'; } /* '' */
.#{$prefix}icon-ccw:before { content: '\e88f'; } /* '' */
.#{$prefix}icon-cw:before { content: '\e890'; } /* '' */
.#{$prefix}icon-arrows-ccw:before { content: '\e891'; } /* '' */
.#{$prefix}icon-level-down:before { content: '\e892'; } /* '' */
.#{$prefix}icon-level-up:before { content: '\e893'; } /* '' */
.#{$prefix}icon-shuffle:before { content: '\e894'; } /* '' */
.#{$prefix}icon-loop:before { content: '\e895'; } /* '' */
.#{$prefix}icon-switch:before { content: '\e896'; } /* '' */
.#{$prefix}icon-play:before { content: '\e897'; } /* '' */
.#{$prefix}icon-stop:before { content: '\e898'; } /* '' */
.#{$prefix}icon-pause:before { content: '\e899'; } /* '' */
.#{$prefix}icon-record:before { content: '\e89a'; } /* '' */
.#{$prefix}icon-to-end:before { content: '\e89b'; } /* '' */
.#{$prefix}icon-to-start:before { content: '\e89c'; } /* '' */
.#{$prefix}icon-fast-forward:before { content: '\e89d'; } /* '' */
.#{$prefix}icon-fast-backward:before { content: '\e89e'; } /* '' */
.#{$prefix}icon-progress-0:before { content: '\e89f'; } /* '' */
.#{$prefix}icon-progress-1:before { content: '\e8a0'; } /* '' */
.#{$prefix}icon-progress-2:before { content: '\e8a1'; } /* '' */
.#{$prefix}icon-progress-3:before { content: '\e8a2'; } /* '' */
.#{$prefix}icon-target:before { content: '\e8a3'; } /* '' */
.#{$prefix}icon-palette:before { content: '\e8a4'; } /* '' */
.#{$prefix}icon-list:before { content: '\e8a5'; } /* '' */
.#{$prefix}icon-list-add:before { content: '\e8a6'; } /* '' */
.#{$prefix}icon-signal:before { content: '\e8a7'; } /* '' */
.#{$prefix}icon-trophy:before { content: '\e8a8'; } /* '' */
.#{$prefix}icon-battery:before { content: '\e8a9'; } /* '' */
.#{$prefix}icon-back-in-time:before { content: '\e8aa'; } /* '' */
.#{$prefix}icon-monitor:before { content: '\e8ab'; } /* '' */
.#{$prefix}icon-mobile:before { content: '\e8ac'; } /* '' */
.#{$prefix}icon-network:before { content: '\e8ad'; } /* '' */
.#{$prefix}icon-cd:before { content: '\e8ae'; } /* '' */
.#{$prefix}icon-inbox:before { content: '\e8af'; } /* '' */
.#{$prefix}icon-install:before { content: '\e8b0'; } /* '' */
.#{$prefix}icon-globe:before { content: '\e8b1'; } /* '' */
.#{$prefix}icon-cloud:before { content: '\e8b2'; } /* '' */
.#{$prefix}icon-cloud-thunder:before { content: '\e8b3'; } /* '' */
.#{$prefix}icon-flash:before { content: '\e8b4'; } /* '' */
.#{$prefix}icon-moon:before { content: '\e8b5'; } /* '' */
.#{$prefix}icon-flight:before { content: '\e8b6'; } /* '' */
.#{$prefix}icon-paper-plane:before { content: '\e8b7'; } /* '' */
.#{$prefix}icon-leaf:before { content: '\e8b8'; } /* '' */
.#{$prefix}icon-lifebuoy:before { content: '\e8b9'; } /* '' */
.#{$prefix}icon-mouse:before { content: '\e8ba'; } /* '' */
.#{$prefix}icon-briefcase:before { content: '\e8bb'; } /* '' */
.#{$prefix}icon-suitcase:before { content: '\e8bc'; } /* '' */
.#{$prefix}icon-dot:before { content: '\e8bd'; } /* '' */
.#{$prefix}icon-dot-2:before { content: '\e8be'; } /* '' */
.#{$prefix}icon-dot-3:before { content: '\e8bf'; } /* '' */
.#{$prefix}icon-brush:before { content: '\e8c0'; } /* '' */
.#{$prefix}icon-magnet:before { content: '\e8c1'; } /* '' */
.#{$prefix}icon-infinity:before { content: '\e8c2'; } /* '' */
.#{$prefix}icon-erase:before { content: '\e8c3'; } /* '' */
.#{$prefix}icon-chart-pie:before { content: '\e8c4'; } /* '' */
.#{$prefix}icon-chart-line:before { content: '\e8c5'; } /* '' */
.#{$prefix}icon-chart-bar:before { content: '\e8c6'; } /* '' */
.#{$prefix}icon-chart-area:before { content: '\e8c7'; } /* '' */
.#{$prefix}icon-tape:before { content: '\e8c8'; } /* '' */
.#{$prefix}icon-graduation-cap:before { content: '\e8c9'; } /* '' */
.#{$prefix}icon-language:before { content: '\e8ca'; } /* '' */
.#{$prefix}icon-ticket:before { content: '\e8cb'; } /* '' */
.#{$prefix}icon-water:before { content: '\e8cc'; } /* '' */
.#{$prefix}icon-droplet:before { content: '\e8cd'; } /* '' */
.#{$prefix}icon-air:before { content: '\e8ce'; } /* '' */
.#{$prefix}icon-credit-card:before { content: '\e8cf'; } /* '' */
.#{$prefix}icon-floppy:before { content: '\e8d0'; } /* '' */
.#{$prefix}icon-clipboard:before { content: '\e8d1'; } /* '' */
.#{$prefix}icon-megaphone:before { content: '\e8d2'; } /* '' */
.#{$prefix}icon-database:before { content: '\e8d3'; } /* '' */
.#{$prefix}icon-drive:before { content: '\e8d4'; } /* '' */
.#{$prefix}icon-bucket:before { content: '\e8d5'; } /* '' */
.#{$prefix}icon-thermometer:before { content: '\e8d6'; } /* '' */
.#{$prefix}icon-key:before { content: '\e8d7'; } /* '' */
.#{$prefix}icon-flow-cascade:before { content: '\e8d8'; } /* '' */
.#{$prefix}icon-flow-branch:before { content: '\e8d9'; } /* '' */
.#{$prefix}icon-flow-tree:before { content: '\e8da'; } /* '' */
.#{$prefix}icon-flow-line:before { content: '\e8db'; } /* '' */
.#{$prefix}icon-flow-parallel:before { content: '\e8dc'; } /* '' */
.#{$prefix}icon-rocket:before { content: '\e8dd'; } /* '' */
.#{$prefix}icon-gauge:before { content: '\e8de'; } /* '' */
.#{$prefix}icon-traffic-cone:before { content: '\e8df'; } /* '' */
.#{$prefix}icon-cc:before { content: '\e8e0'; } /* '' */
.#{$prefix}icon-cc-by:before { content: '\e8e1'; } /* '' */
.#{$prefix}icon-cc-nc:before { content: '\e8e2'; } /* '' */
.#{$prefix}icon-cc-nc-eu:before { content: '\e8e3'; } /* '' */
.#{$prefix}icon-cc-nc-jp:before { content: '\e8e4'; } /* '' */
.#{$prefix}icon-cc-sa:before { content: '\e8e5'; } /* '' */
.#{$prefix}icon-cc-nd:before { content: '\e8e6'; } /* '' */
.#{$prefix}icon-cc-pd:before { content: '\e8e7'; } /* '' */
.#{$prefix}icon-cc-zero:before { content: '\e8e8'; } /* '' */
.#{$prefix}icon-cc-share:before { content: '\e8e9'; } /* '' */
.#{$prefix}icon-cc-remix:before { content: '\e8ea'; } /* '' */
.#{$prefix}icon-github:before { content: '\e8eb'; } /* '' */
.#{$prefix}icon-github-circled:before { content: '\e8ec'; } /* '' */
.#{$prefix}icon-flickr:before { content: '\e8ed'; } /* '' */
.#{$prefix}icon-flickr-circled:before { content: '\e8ee'; } /* '' */
.#{$prefix}icon-vimeo:before { content: '\e8ef'; } /* '' */
.#{$prefix}icon-vimeo-circled:before { content: '\e8f0'; } /* '' */
.#{$prefix}icon-twitter:before { content: '\e8f1'; } /* '' */
.#{$prefix}icon-twitter-circled:before { content: '\e8f2'; } /* '' */
.#{$prefix}icon-facebook:before { content: '\e8f3'; } /* '' */
.#{$prefix}icon-facebook-circled:before { content: '\e8f4'; } /* '' */
.#{$prefix}icon-facebook-squared:before { content: '\e8f5'; } /* '' */
.#{$prefix}icon-gplus:before { content: '\e8f6'; } /* '' */
.#{$prefix}icon-gplus-circled:before { content: '\e8f7'; } /* '' */
.#{$prefix}icon-pinterest:before { content: '\e8f8'; } /* '' */
.#{$prefix}icon-pinterest-circled:before { content: '\e8f9'; } /* '' */
.#{$prefix}icon-tumblr:before { content: '\e8fa'; } /* '' */
.#{$prefix}icon-tumblr-circled:before { content: '\e8fb'; } /* '' */
.#{$prefix}icon-linkedin:before { content: '\e8fc'; } /* '' */
.#{$prefix}icon-linkedin-circled:before { content: '\e8fd'; } /* '' */
.#{$prefix}icon-dribbble:before { content: '\e8fe'; } /* '' */
.#{$prefix}icon-dribbble-circled:before { content: '\e8ff'; } /* '' */
.#{$prefix}icon-stumbleupon:before { content: '\e900'; } /* '' */
.#{$prefix}icon-stumbleupon-circled:before { content: '\e901'; } /* '' */
.#{$prefix}icon-lastfm:before { content: '\e902'; } /* '' */
.#{$prefix}icon-lastfm-circled:before { content: '\e903'; } /* '' */
.#{$prefix}icon-rdio:before { content: '\e904'; } /* '' */
.#{$prefix}icon-rdio-circled:before { content: '\e905'; } /* '' */
.#{$prefix}icon-spotify:before { content: '\e906'; } /* '' */
.#{$prefix}icon-spotify-circled:before { content: '\e907'; } /* '' */
.#{$prefix}icon-qq:before { content: '\e908'; } /* '' */
.#{$prefix}icon-instagram:before { content: '\e909'; } /* '' */
.#{$prefix}icon-dropbox:before { content: '\e90a'; } /* '' */
.#{$prefix}icon-evernote:before { content: '\e90b'; } /* '' */
.#{$prefix}icon-flattr:before { content: '\e90c'; } /* '' */
.#{$prefix}icon-skype:before { content: '\e90d'; } /* '' */
.#{$prefix}icon-skype-circled:before { content: '\e90e'; } /* '' */
.#{$prefix}icon-renren:before { content: '\e90f'; } /* '' */
.#{$prefix}icon-sina-weibo:before { content: '\e910'; } /* '' */
.#{$prefix}icon-paypal:before { content: '\e911'; } /* '' */
.#{$prefix}icon-picasa:before { content: '\e912'; } /* '' */
.#{$prefix}icon-soundcloud:before { content: '\e913'; } /* '' */
.#{$prefix}icon-mixi:before { content: '\e914'; } /* '' */
.#{$prefix}icon-behance:before { content: '\e915'; } /* '' */
.#{$prefix}icon-google-circles:before { content: '\e916'; } /* '' */
.#{$prefix}icon-vkontakte:before { content: '\e917'; } /* '' */
.#{$prefix}icon-smashing:before { content: '\e918'; } /* '' */
.#{$prefix}icon-sweden:before { content: '\e919'; } /* '' */
.#{$prefix}icon-db-shape:before { content: '\e91a'; } /* '' */
.#{$prefix}icon-logo-db:before { content: '\e91b'; } /* '' */
